@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    font-size: 60px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 50px;
}
th, td {
    border: 1px solid black;
    padding: 15px;
    text-align: left;
    width: 200px;
}
th {
    background-color:rgba(0, 255, 255, 0.309);
    cursor: pointer;
}
tr:hover {
    background-color: coral;
}
.nav {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    width: 100%;
    margin: 30px auto;
}
.search {
    position: absolute;
    right: 30px;
    width: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-bar {
    width: 200px;
    height: 30px;
    padding: 5px;
}
.search-btn {
    max-width: 30px;
    max-height: 30px;
    background-image: url(/img/search.svg);
    cursor: pointer;
}
.pages {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
button {
    margin: 10px;
    border: none;
    width: 100px;
    height: 30px;
    box-shadow: 0 0 5px black;
    cursor: pointer;
    background-color: coral;
    color: white;
    font-weight: 600;
    font-size: 16px;
    transition: all ease 0.3s;
}
button:hover {
    background-color: rgb(255, 81, 18);
}
.page-number {
    margin: 0 20px;
}
.pagination {
    width: 150px;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}
select {
    width: 50px;
    height: 30px;
    margin: 0 auto;
}